<%- include ../layouts/header.ejs %>
<%    
    storage.setItem('isSaveMode', false) 
%>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-md-3 col-md-offset-4">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Please Sign In</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form" action="/login" method="post">
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus value="<%= storage.getItem('email')%>">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Password" name="pwd" type="password" value="<%= storage.getItem('pwd')%>">
                                    </div>                                                                       
                                    <% if (isLoginWin === true) { %>
                                        <div class="form-group">
                                            <label></label>                                        
                                        </div>
                                        <div class="form-group">
                                            <label> Remember Me </label> 
                                            <label class="switch">
                                                <input type="checkbox" name="cb">
                                                <span class="slider round"></span>
                                            </label>
                                        </div> 
                                        <button type="submit" class="btn btn-lg btn-success btn-block"> LOG IN </button>
                                    <% }else{ %>
                                        <div class="form-group">
                                            <label></label>                                        
                                        </div> 
                                        <div class="form-group">
                                            <input class="form-control" placeholder="Password Again" id="pwd_again" type="password">
                                        </div> 
                                        <button type="submit" class="btn btn-lg btn-success btn-block"> SIGN UP </button>
                                    <% } %>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../js/jquery.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/metisMenu.min.js"></script>
        <script src="../js/startmin.js"></script>                   
    </body>
</html>
