<%- include ../layouts/header.ejs %>

            <h1>Compare BetLog amount with cash_flow amount by bet_log.id</h1>            

            <h2>hy.money and cash_flow</h2>
            <div class="dbPanel">            
                <table class="table">
                    <thead>
                        <tr>
                            <th>bet_log id</th>
                            <th>amount(bet_log)</th>
                            <th>amount(cash_flow)</th>
                        </tr>
                    </thead>
                    <tbody>
                            <% for (var i = 0; i < bet_log.length; i ++) { 
                                
                            %> 
                                <tr>
                                    <td> <%= bet_log[i].id %> </td>
                                    <td> <%= bet_log[i].bet_amount %></td>                            
                                </tr>
                            <% } %>                        
                    </tbody>
                </table>
            </div>
        <div>
    </body>
</html>
