<!DOCTYPE html>
<html>
    <head>
        <title>DataBase Watching Bot</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet/less" type="text/css" href="css/style.less" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js" ></script>
    </head>
    <body>
        <div id="content">
            <a class="back" href="#"></a>
            <span class="scroll"></span>
            <p class="head">
                go back
                <a href="/main"> / UNIVERSE </a>
                <a href="#"> / CHECK RULE4 </a>
                <a href="#"> / CHECK RULE3 </a>                
                <a href="#"> / CHECK RULE2 </a>
                <a href="/rule1"> CHECK RULE1 </a>
            </p>